.tabb-tabb {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-success-btn);
}
@media (max-width: 991px) {
  .tabb-tabb {
    align-self: center;
    justify-content: center;
  }
}
