.tab2-tab2 {
  width: 1091px;
  height: 611px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 991px) {
  .tab2-tab2 {
    width: 100%;
  }
}
